services:
  news-aggregator:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: news-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  zipkin:
    image: openzipkin/zipkin
    container_name: news-zipkin
    ports:
      - "9411:9411"

volumes:
  redis-data: