spring:
  application:
    name: news-aggregator
  threads:
    virtual:
      enabled: true
  mvc:
    apiversion:
      use:
        header: X-API-VERSION
      default: "1.0"

news:
  api:
    key: ${NEWS_API_KEY:none}

logging:
  level:
    root: debug
  pattern:
    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

management:
  endpoints:
    web:
      exposure:
        include: health,info, metrics
  otlp:
    metrics:
      export:
        enabled: false
  tracing:
    sampling:
      probability: 1.0
    export:
      otlp:
        enabled: false